/** ____________________________________________ **/
/** Global **/
.theGlobal {
    min-height: 100%;
    position: relative;
}

/** Menu **/
.theMenu {
    background-color: #ACD9EC;
    float: left;
    width: 17%;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

#logo_universite {
    height: 10%;
    background: no-repeat bottom center;
    background-image: url(../images/universite.png);
}

#main-menu {
    list-style: none;
}

.navigation {
    list-style-type: none;
    margin-top: 24px;
    padding: 0;
    background-color: #F1F1F1;
}

.navigation li {
    text-align: center;
}

.navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font: normal 13px Arial;
    border-bottom: 2px solid #ACD9EC;
}

.navigation li a:last-child {
    border-bottom: none;
}

/* Change the link color on hover */
.navigation li a:hover {
    background-color: #666666;
    color: white;
}


/** Header **/
.theHeader {
    margin-left: 17%;
    background-color: #F1F1F1;
    text-align: center;
}

.theHeader a, .theContenu a {
    cursor: pointer;
    color: black;
}

.theHeader a {
    margin: 10px;
    text-decoration: underline;
}

.theHeader a:hover, .theContenu a:hover{
    color: #4eb7e0;
}

/** Contenu **/
.theContenu {
    margin-top: 3%;
    margin-left: 17%;
    margin-bottom: 4%;
    text-align: -webkit-center;
}

.accueil-text {
    position: relative;
    width: 80%;
}

.content {
    text-align: justify;
    border: 1px solid black;
}

/** ____________________________________________ **/
/** Footer **/
.theFooter {
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.theFooter .footer_liens a {
    color: #ffffff;
    text-decoration: none;
}

.theFooter .footer_liens a:hover {
    text-decoration: underline;
}

#banner {
    background-image: url(../images/banner.png);
    bottom: 0;
    min-height: 14%;
    min-width: 83%;
    position: absolute;
}

/** ____________________________________________ **/
/** Tableau **/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: 20px;
}

td {
    padding: 7px;
}

/** ____________________________________________ **/
/** Ajouter un projet **/
#form-ajout {
    width: 70%;
    text-align: justify;
}

#description textarea {
    width: 100%;
}

#boutons {
    text-align: right;
}

#boutons input {
    background-color: #acacac;
    color: white;
    padding: 10px;
    border: none;
    font-size: 13px;
    width: 10%;
    cursor: pointer;
}

#boutons input:hover {
    background-color: #666666;
}

/** ____________________________________________ **/
/** Visualisation **/
#visualisation, #liste_projets {
    width: 70%;
}
